{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>Radio Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script type="text/javascript" src="https://hosted.muses.org/mrp.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
  <script src="{% static 'geojson.js' %}"></script>
</head>
<body>
  <div id="map"></div>
  <form id="latlngForm" method="get">{% csrf_token %}</form>
  <script src="{% static 'map.js' %}"></script>
</body>
</html>